<html>
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body ng-app="">
    <div ng-app="">
        <p><h1> Number Values for sum:</p></h1>
        <p>Value 1: <input type="number" ng-model="value1" placeholder="Enter Number 1 here"></p>
        <p>Value 2: <input type="number" ng-model="value2" placeholder="Enter Number 2 here"></p>
        <h1>Sum of above values is: {{value1 + value2}}</h1>
    </div>

</body>

</html>